$logo-width: 52px;

#skills-page {
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 0 64px;

    .skills {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 32px;

      .skills-section {
        text-align: center;
        padding: 32px;

        .title,
        .item {
          white-space: nowrap;
        }

        .title {
          color: gray;
          font-size: 1.4rem;
          padding-bottom: 16px;
        }

        .item {
          display: block;
          font-size: 1.6rem;
          padding: 5px 0;
          color: #fff;
          text-decoration: none;

          &.active {
            text-decoration: underline;
          }
        }

        .clickable {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .skill-description {
      box-sizing: border-box;
      padding: 32px 64px;

      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .skill-logo {
        padding-right: 46px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @for $i from 1 to 6 {
          > a:nth-child(#{$i}),
          > img:nth-child(#{$i}) {
            animation-delay: #{$i * 0.1}s;
          }
        }

        > a,
        > img {
          opacity: 0;
          animation: fadeIn ease 0.4s forwards;

          backface-visibility: hidden;
          transition: filter 0.3s ease;
          filter: grayscale(100%) opacity(64%) contrast(80%);
          &.hovering {
            filter: grayscale(0) opacity(100%);
          }

          & + img,
          & + a {
            margin-top: 16px;
          }
        }

        img {
          width: $logo-width;
          height: auto;
        }
      }

      .markdown {
        flex: 1;
        font-size: 14px;
        overflow: hidden;

        h1 {
          font-size: 20px;
          line-height: 24px;
          margin: 0 0 12px 0;
          padding: 0 0 12px 0;
        }

        p {
        }

        ul,
        ol {
          li {
            margin: 12px 0;
            line-height: 22px;
          }

          color: #aaa;

          em,
          strong {
            color: #fff;
          }
        }

        sup {
          font-size: 12px;
          color: #999;
        }

        .local-link {
          color: #fff;
          text-decoration: none;
          background-color: #222;
          box-shadow: 0 2px 5px rgba(#000000, 0.3);
          padding: 8px 16px;
          margin: 24px 0;
          border-radius: 200px;
          display: inline-block;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
