#projects-page {
  .center-content {
    grid-column: 2/4;
    grid-row: 2/4;
    display: flex;
    font-size: 18px;
    position: relative;
    align-self: start;
    justify-self: start;
    padding: 16px;

    ol {
      li {
        background-color: #0a0a0a;
        margin: 32px;
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 12px;

        h1 {
        }

        img {
          max-height: 56px;
          max-width: 56px;
          border-radius: 3px;
        }

        .live-links {
          display: flex;
          flex-direction: row;
          padding: 4px;
        }

        .github {
          svg {
            padding: 4px 8px;
            color: #fff;
            height: 48px;
          }
        }

        .live-links {
          justify-content: flex-end;
          svg {
            padding: 4px 8px;
            color: #888;
            height: 28px;
            width: 28px;
          }
        }
      }
    }
  }
}
