#contact-page {
  .center-content {
    .contact-form {
      display: flex;
      flex-direction: column;

      font-size: 18px;
      padding: 16px;

      div {
        display: flex;

        label {
          flex: 1;
        }

        input,
        textarea {
          margin: 6px 12px;
          flex: 2;
          resize: none;
          font-size: 16px;
        }
      }
    }
  }
}
