@import '../global';

.content {
  font-size: calc(10px + 2vmin);
  color: $white;

  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    min-height: 100vh;
    width: min(960px, 100%);
    margin: auto;
    padding: 36px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
