@import '../global';

#root {
  // contains all sections

  font-size: calc(10px + 2vmin);
  color: $white;

  .content {
    display: grid;
    justify-content: center;
    grid-template-columns: 36px auto 36px;
    @media only screen and (max-width: 800px) {
      grid-template-columns: 12px auto 12px;
    }

    .header-curtain {
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      right: 0;
      height: $header-height;
      background: $eerie-black;
    }

    section {
      // basically a page

      max-width: min(100vw, 960px);
      overflow: hidden;

      // side padding
      grid-column: 2 / 3;

      // make container take up entire page - the header
      padding-top: $header-height;
      box-sizing: border-box;
      min-height: 100vh;
      @media only screen and (max-width: 800px) {
        min-height: 0;
      }

      // center contents?
      display: grid;
      align-items: center;
      justify-content: center;

      &#home-page {
      }

      &#about-page {
      }

      &#skills-page {
      }

      &#skills-page {
      }

      &#skills-page {
      }

      &#skills-page {
        justify-content: stretch;
        align-items: start;
      }

      // most sections have a leading h1
      > h1 {
        text-align: left;
        font-weight: 100;
        font-size: 32px;
        color: whitesmoke;
        padding-left: 8px;
      }
    }
  }
}
