#home-page {
  grid-column: 1/2;
  grid-row: 1/2;

  .center-content {
    grid-column: 1/5;
    grid-row: 1/5;
    align-self: end;
    display: flex;
    white-space: nowrap;
    font-size: 42px;
    position: relative;
    justify-content: flex-end;

    .center-text {
      position: absolute;
      right: -24px;
    }
  }

  .logo {
    height: 40vmin;
    pointer-events: none;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

  .apps-container {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .social-media-link {
      color: #181818;
      padding: 4px 6px;

      svg {
        width: 1.4em;
        height: 1.4em;
      }
    }
  }

  .social-media-container {
    grid-row: 5/6;
    grid-column: 5/6;
    align-self: end;
    justify-self: end;
    padding: 0 24px 32px 0;

    display: flex;
    align-items: flex-end;

    .social-media-link {
      color: white;
      padding: 4px 8px 0 8px;
      width: 1em;
      height: 1em;

      .social-media-logo {
        width: 1em;
        height: 1em;
      }
    }
  }

  .bottom-message {
    cursor: pointer;
    margin-left: -12px;
    grid-row: 5/6;
    grid-column: 2/5;
    align-self: end;
    justify-self: bottom;
    padding: 15px 0 32px 0;
    font-size: 24px;
    background-color: #101011;
  }
}
