@import 'global';

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: $eerie-black; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: $paradise-pink; /* color of the scroll thumb */
  border: 3px solid $eerie-black; /* creates padding around scroll thumb */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* 2 gutters, 2 main columns in middle, can be split */
  min-height: 100vh;

  .content {
    font-size: calc(10px + 2vmin);
    color: $white;
  }
}

// *[title] {
//   text-decoration: underline wavy $paradise-pink;
// }
