@import 'global';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  // zoom: 0.8;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Code', monospace;
}

code {
  font-family: 'Fira Code', monospace;
}

a {
  color: $caribbean-green;
  text-decoration: none;
}

.stretch {
  flex: 1;
}
